go 1.19

use (
    ./0-deep-thought-uninstrumented/gatewayservice
    ./0-deep-thought-uninstrumented/questionservice
    ./0-deep-thought-uninstrumented/answerservice
    ./1-deep-thought-instrumented/gatewayservice
    ./1-deep-thought-instrumented/questionservice
    ./1-deep-thought-instrumented/answerservice
)